<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>
<!--    引入外部配置文件-->
    <properties resource="db.properties"></properties>

    <settings>
        <!--配置日志工厂-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--属性与字段不一致,驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--显示开启全局缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
<!--    类型别名-->
    <typeAliases>
<!--        <typeAlias type="com.quincy.pojo.Student" alias="Student"/>-->
        <package name="com.quincy.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

<!--每一个Mapper.xml都需要在Mybatis核心配置文件中注册-->
    <mappers>
        <mapper resource="com/quincy/mapper/IUserMapper.xml"/>
<!--        <mapper class="com.quincy.mapper.ITeacherMapper"/>-->
    </mappers>
</configuration>